@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes tooltips {
  100% {
    width: 250px;
    background-color: red;
  }
}

.tooltip {
  width: 200px;
  transform: rotate(90deg);
  animation: tooltips 2s linear;
}

.anim-circle {
  animation: circle 5s infinite linear;
}

@keyframes my-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes tooltips {
  100% {
    opacity: 1;
    transform: translateY(-120%) scaleX(1);
  }
}

.tooltip {
  animation: tooltips 1s linear forwards;
}

.test {
  background-color: blueviolet;
}

.my-spin {
  animation: my-spin 20s infinite linear;
}

.my-spin-rev {
  animation: my-spin 20s reverse infinite linear;
}

/* group-hover:-translate-y-full group-hover:bg-green-500 group-hover:opacity-100 */
